table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 80%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  color:#000000;
  padding: 4px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */